* {
  margin: 0;
  padding: 0;
}
/* ************************header**************
******************************************** */
header {
  background: rgba(255, 144, 14, 0.1);
  height: 880px;
}
.nav-title {
  color: #131313;
}
.nav-container {
  display: flex;
  justify-content: space-between;
  padding-top: 50px;
  padding-left: 70px;
  padding-right: 70px;
}
.nav-content {
  display: flex;
  justify-content: space-between;
  gap: 20px;
}
a {
  text-decoration: none;
  color: #424242;
}
.company-description {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;

  position: relative;
  left: 30%;
  bottom: 250px;

  width: 500px;
  height: 300px;
}
/* /* ****************header section ***********
/* ********************************************* */
.description-title {
  font-weight: 700;
  font-size: 35px;
  margin-bottom: 10px;
  color: #131313;
  margin-right: 30px;
}
.btn {
  width: 150px;
  height: 35px;
  margin-top: 30px;
  background-color: rgb(233, 164, 16);
  border: 0;
  border-radius: 5px;
  color: aliceblue;
}
.description-about {
  text-align: justify;
  color: #727272;
}
.banner-pic > img {
  width: 70%;
  height: 60vh;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  position: relative;
  left: 200px;
  bottom: 200px;
}
/* *****************************main***********
******************************************** */
.team-pic {
  width: 250px;
  height: 150px;
}
.feature {
  display: flex;
}
.feature-pic {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  gap: 10px;
  position: relative;
  left: 7%;
  margin-top: 60px;
}
.feature-text {
  width: 400px;
  height: 220px;

  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  position: relative;
  left: 20%;
  margin-top: 120px;
}
/* **********************span*************
*************************************** */
.c-1 {
  color: #727272;
}
.c-2 {
  color: #131313;
}
.c-3 {
  color: #ff900e;
}
.feature-title {
  font-size: 25px;
  margin-bottom: 10px;
  position: relative;
  right: 27%;
}
.feature-title-2 {
  font-size: 25px;
  margin-bottom: 10px;
  position: relative;
  right: 38%;
}
.feature-details {
  text-align: justify;
}
.btn-2 {
  width: 150px;
  height: 35px;
  margin-top: 30px;
  background-color: rgb(233, 164, 16);
  border: 0;
  border-radius: 5px;
  color: aliceblue;
  margin-right: 250px;
}
/* **************************2nd section*******************
******************************************************** */
.section-2-header {
  margin-top: 80px;
  margin-left: 170px;
}
.section-2-description {
  width: 350px;
  height: 650px;

  margin-top: 30px;
}

.colorful-border {
  width: 5px;
  height: 60px;
  background: #ff900e;
  position: relative;
  bottom: 97.78%;
}
.section-2-img,
img {
  width: 500px;
  height: 700px;
}
.section-2 {
  display: flex;
  gap: 90px;
}
.section-2-description-title {
  padding-left: 30px;
  font-weight: 700;
  font-size: 25px;
}
.p-1 {
  color: #727272;
  padding-top: 20px;
}
.h5-1 {
  margin-top: 20px;
  margin-left: 35px;
  font-size: 17px;
}
.p-2 {
  margin-top: 10px;
  margin-left: 35px;
  color: #727272;
}
.btn-5 {
  width: 150px;
  height: 5px;

  background: #ff900e;
  border: 0;
  border-radius: 8px;

  position: relative;
  left: -8%;
  bottom: 9%;
  padding: 50px 20px;
}
.h2-2,
h2 {
  color: #ffffff;
  font-weight: 700;
  font-size: 30px;
  margin-bottom: 300px;
  position: relative;
  bottom: 25px;
  left: 20px;
}

.span-2 {
  font-size: 15px;
  margin-bottom: 20px;
  position: relative;
  left: 15px;
  bottom: 15px;
}
/* *************************section 3******************************
**************************************************************** */
.section-3-header {
  height: 110px;
  margin-top: 80px;
}
.section-3-container {
  width: 300px;
  height: 100px;
  position: relative;
  left: 200px;
}
.section-3-title {
  font-size: 25px;
}
.section-3-p {
  margin-top: 10px;
  color: #727272;
}

.section-4 {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 140px;
  margin-top: 10px;
}
.icon-img {
  width: 30px;
  height: 30px;
  padding-left: 50px;
  padding-top: 5px;
}
.box-container {
  width: 130px;
  height: 95px;
  background: rgb(113, 221, 189);
  border: 1px solid #1cb1df;
}
.section-4-box {
  width: 130px;
  height: 95px;
  background-color: rgb(250, 246, 246);
  border: 1px solid #ff900e;
  transform: scale(0.75);
}
.digit {
  padding-left: 55px;
  color: #424242;
  font-weight: 600;
  padding-top: 3px;
}
.digit-2 {
  padding-left: 45px;
  color: #424242;
  font-weight: 600;
  padding-top: 3px;
}
.digit-3 {
  padding-left: 50.5px;
  color: #424242;
  font-weight: 600;
  padding-top: 3px;
}
.digit-4 {
  padding-left: 43px;
  color: #424242;
  font-weight: 600;
  padding-top: 3px;
}
.icon-text-1 {
  padding-left: 5px;
  padding-top: 10px;
}
.icon-text-2 {
  padding-left: 8px;
  padding-top: 10px;
}
.icon-text-3 {
  padding-left: 12px;
  padding-top: 10px;
}
.icon-text-4 {
  padding-left: 30px;
  padding-top: 10px;
}
/* ******************extra section******************
*********************************************** */
.section-extra {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;

  background-image: linear-gradient(
      rgba(81, 184, 103, 0.664),
      rgba(125, 179, 204, 0.459)
    ),
    url(./images/pic/home.jpg);
  width: 70%;
  height: 350px;
  margin-top: 50px;
  margin-bottom: 100px;
  border-radius: 15px;
  position: relative;
  left: 15%;
}
.extra-title {
  font-size: 40px;
  margin-bottom: 20px;
  color: rgb(238, 11, 11);
}
.btn-extra {
  width: 150px;
  height: 40px;
  border-radius: 5px;
  background-color: #14e625;
  border: 0;
  font-size: 20px;
  font-weight: 500;
  color: rgb(30, 12, 192);
}
/* ***********************section 5**********************
******************************************************** */
.sponsor {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  margin-bottom: 50px;
  font-weight: 700;
  font-size: 30px;
}
.sponsor-p {
  font-size: 15px;
  color: #727272;
  margin-top: 5px;
}
.sponsor-pic {
  width: 80px;
  height: 50px;
}
.sponsor-pic-container {
  display: flex;
  justify-content: center;
  gap: 120px;
  margin-bottom: 30px;
}
